#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
 
}
.btn{
  background-color: rgb(98, 98, 199);
  color: white;
  padding: 0.5rem 1rem;
  /* border: 0.5px solid rgb(13, 150, 224); */
  border-radius: 10px;
 
}
/*  */
.btn:hover{

}
